<div class="columns">
    <% @repositories.each do |repository| %>
    <div class="column has-background-dark has-text-centered has-text-white is-half is-offset-one-quarter">

    <p><strong class="has-text-white"><%= repository['name'] %></strong>        
        <a href="<%= repository['web_url'] %>">
        <span class="icon has-text-success">
          <i class="fa fa-link"></i>
        </span>
        </a>
    </p> 
    <% if !repository.updated_packages.empty? %>
        <% repository.updated_packages.each do |package|%> 

         <p>updated <%= package['name'] %> from <%= package['previous_version'] %> 
            to <%= package['current_version'] %> (<%= package['package_manager'] %>)</p>   

        <% end %>
        <br>
        <span class="has-text-success">Completed scanning!</span>
    <% else %>
        <li><span class="has-text-success">Repository might be empty!</span></li>
    <br>
    <% end %>
    </div>
</div>
<% end %>