<h1 class="title">
  Repositories of : <%= @current_user.fullname %>
</h1>

<p>Found <%= @repositories.length %> <span class="has-text-success">Public</span> Gitlab repositories</p>
<hr>
<% if !@repositories.blank? %>
<% for repository in @repositories %>

       <p> <%= repository['name'] %> </p>
    
       <p>
          View on <a href="<%= repository['web_url'] %>">GitLab</a>
        </p>
    
         <p> visibility: <span class="has-text-success"><%= repository['visibility'] %></span> </p>
         <p>scan: <%= repository['scan'] %></p>
          
         <%= form_with(url: "/repositories/#{repository['id']}/update", method: "PUT") do %>
          <% if repository['scan'] == true %>
              <%= label_tag("Present in scan list") %>
              <%= submit_tag("Remove from scan list") %>
          <% else %>
              <%= label_tag("Not present in scan list") %>
              <%= submit_tag("Add to scan list") %>
            <% end %>
         <% end %>
     
      <hr>
<% end %>
<% else %>
<div class="column">No repositorys found!</div>
<% end %>
<!-- Pagination -->
<%= render "layouts/pagination" %>
