
<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <img src="<%= @current_user.picture %>" alt="<%= @current_user.fullname %> image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png" alt="gitlab logo">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= @current_user.fullname %></p>
              <p class="subtitle is-6"><%= "@#{@current_user.handle}" %></p>
            </div>
          </div>

          <div class="content">
            <%= @current_user.bio %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>